[submodule ".deps/libcotp"]
	path = .deps/libcotp
	url = https://github.com/paolostivanin/libcotp.git
	ignore = all
[submodule ".deps/libbacktrace"]
	path = .deps/libbacktrace
	url = https://github.com/ianlancetaylor/libbacktrace.git
	ignore = all
